[core]
	fscache = true
[credential]
	helper = manager
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit -m
	lg = log --graph --oneline
	fa = fetch --all
	pf = push --force
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	ri = rebase -i
	rom = rebase origin/master
	po = push origin
	pof = push origin -f
[user]
	name = Jason Holloway
	email = jason.holloway@sorted.com
[push]
	default = current
[pull]
	ff = only
